/*border glow */
.card {
  --start: 0;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}
.card {
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 2px 0px 10px 2px var(--color-blue-100);
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 37px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - (20 * 1.1)) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(16px);
}

.glow::before {
  position: absolute;
  content: "";
  width: 98%;
  height: 98%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  border: 15px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  /* mask: linear-gradient(#0000, #0000), 
	conic-gradient(
	  from calc(var(--start)  * 1deg), 
	  #000 0deg, 
	  #ffffff, 
	  rgba(0, 0, 0, 0) 60deg
	  ); */
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - (20 * 1.1)) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 1s ease;
}

.card:hover > .glow::before {
  opacity: 1;
}
.card:hover::before {
  opacity: 1;
}

/* border effect glow end here */

/* txet gradient */

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #000000 20%,
    rgb(44, 44, 44) 40%,
    rgb(120, 128, 60) 60%,
    #000000 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
/* end here */

.main-title {
  font-weight: 900;
  background: linear-gradient(45deg, #00f5ff, #ff006e, #ffbe0b);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradientShift 4s ease-in-out infinite;
  margin-bottom: 20px;
  text-shadow: 0 0 30px rgba(0, 245, 255, 0.3);
  padding: 20px 0px;
}

@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* /////////////////////// */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* /////////////////////// */

.bgBlackWhite {
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.bgNew{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.glass{
  
  background-color: cyan;
  background-clip: padding-box;
  backdrop-filter: blur(4px) saturate(0%) contrast(125%);
  opacity: 20%;

}
